
livecoding/.DS_Store
livecoding/.ipynb_checkpoints/diamonds-checkpoint.ipynb
livecoding/.ipynb_checkpoints/heart-checkpoint.ipynb
livecoding/.ipynb_checkpoints/titanic-checkpoint.ipynb
livecoding/.ipynb_checkpoints/Wine-checkpoint.ipynb
